[defaults]
inventory = inventory/hosts.yml
remote_user = root
host_key_checking = False
timeout = 30
gathering = smart
fact_caching = memory
stdout_callback = yaml
callback_whitelist = profile_tasks
roles_path = playbooks/roles
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
control_path_dir = /tmp/.ansible-cp
pipelining = True